{% load static %}
<!DOCTYPE html>
<html lang="es-CL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static 'img/logo/logoInmiigrantes.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <title>Inmigrayuda</title>
</head>

<body>

    <div class="header">
        <img src="{% static 'img/blur/inmigrantes.jpg' %}" class="blurr" alt="">
        <div class="bg-text">
            <img src="{% static 'img/logo/logoInmiigrantes.png' %}" width="130px" alt="">

            <h1>Inmigrayuda</h1>
            <p>"Al servicio de las personas"</p>
        </div>

    </div>


    <div id="navbar" class="sticky-top">
        <a class="nav-link" id="btnInicio" href="../">Inicio</a>
        <a class="nav-link" id="btnPreguntasfre" href="/preguntasFrecuentes">Preguntas Frecuentes</a>
        <a class="nav-link" id="btnQuienesSomos" href="/quienesSomos">¿Quienes somos?</a>
        <a class="nav-link" id="btnContacto" href="/contacto">Contacto</a>
        <a class="nav-link active" id="btnCategorias" href="#">Categorias</a>

        <ul class="navbar-nav my-2 my-lg-0" style="padding-left: 550px">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url "cerrar_session" %}">Cerrar Sesión</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{% url "login" %}">Ingresar</a>
                </li>
                {% endif %}
            </ul>

    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <br>
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        
                        <a class="nav-link disabled" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home"
                        aria-selected="true"> Categorias  <img src="{% static 'img/diseño/flecha_abajo.png' %}" width="15px" alt="flecha_abajo"> </a>
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home"
                        aria-selected="true">Ministerios</a>
                    <a class="nav-link menuCategoria" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
                        aria-selected="false">Salud</a>
                    <a class="nav-link menuCategoria" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages"
                        aria-selected="false">Comunidades</a>
                    <a class="nav-link menuCategoria" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false">Casas</a>
                </div>
            </div>
            <div class="col-md-10">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <br>
                        <div class="container-fluid">
                                <h4>Ministerios</h4>
                                <a href="https://www.interior.gob.cl/" target="_blank">
                                    <button class="estilo dos"> ministerio del interior y seguridad publica </button>
                                </a>

                                <a href="http://www.msgg.gob.cl/wp/" target="_blank">
                                    <button class="estilo dos"> ministerio secretaria general del gob </button>
                                </a>

                                <a href="https://www.interior.gob.cl/" target="_blank">
                                    <button class="estilo dos"> ministerio de economia, fomento y turismo </button>
                                </a>

                                <a href="https://www.interior.gob.cl/" target="_blank">
                                    <button class="estilo dos"> ministerio de justicia y derechos humanos </button>
                                </a>

                                <a href="https://www.interior.gob.cl/" target="_blank">
                                    <button class="estilo dos"> ministerio de salud </button>
                                </a>

                                <a href="https://www.interior.gob.cl/" target="_blank">
                                    <button class="estilo dos"> ministerio de mineria </button>
                                </a>

                                <a href="https://www.interior.gob.cl/" target="_blank">
                                    <button class="estilo dos"> ministerio de energia </button>
                                </a>

                                <a href="https://www.interior.gob.cl/" target="_blank">
                                    <button class="estilo dos"> ministerio de relaciones exteriores </button>
                                </a>

                                <a href="https://www.interior.gob.cl/" target="_blank">
                                    <button class="estilo dos"> ministerio de hacienda </button>
                                </a>

                                <a href="https://www.interior.gob.cl/" target="_blank">
                                    <button class="estilo dos"> ministerio de desarrollo social </button>
                                </a>

                                <a href="https://www.interior.gob.cl/" target="_blank">
                                    <button class="estilo dos"> ministerio de trabajo y prevision social </button>
                                </a>

                                <a href="https://www.interior.gob.cl/" target="_blank">
                                    <button class="estilo dos"> ministerio de vivienda y urbanismo </button>
                                </a>

                                <a href="https://www.interior.gob.cl/" target="_blank">
                                    <button class="estilo dos"> ministerio de transporte y telecomunicaciones </button>
                                </a>

                                <a href="https://www.interior.gob.cl/" target="_blank">
                                    <button class="estilo dos"> ministerio del medio ambiente </button>
                                </a>

                                <a href="https://www.interior.gob.cl/" target="_blank">
                                    <button class="estilo dos"> ministerio de las culturas, las artes y el patrimonio </button>
                                </a>

                                <a href="https://www.interior.gob.cl/" target="_blank">
                                    <button class="estilo dos"> ministerio de defensa nacional </button>
                                </a>

                                <a href="https://www.interior.gob.cl/" target="_blank">
                                    <button class="estilo dos"> ministerio de secretaria general de la presidencia  </button>
                                </a>

                                <a href="https://www.interior.gob.cl/" target="_blank">
                                    <button class="estilo dos"> ministerio de educacion </button>
                                </a>

                                <a href="https://www.interior.gob.cl/" target="_blank">
                                    <button class="estilo dos"> ministerio de obras publicas </button>
                                </a>

                                <a href="https://www.interior.gob.cl/" target="_blank">
                                    <button class="estilo dos"> ministerio de agricultura </button>
                                </a>

                                <a href="https://www.interior.gob.cl/" target="_blank">
                                    <button class="estilo dos"> ministerio de bienes nacionales </button>
                                </a>

                                <a href="https://www.interior.gob.cl/" target="_blank">
                                    <button class="estilo dos"> ministerio del deporte </button>
                                </a>
                        </div>

                        
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" name="CategoriaSalud">
                        <a href="https://www.minsal.cl/" target="_blank">
                            <button class="estilo dos">Ministerio de Salud </button>
                        </a>
                        <a href="http://www.supersalud.gob.cl/664/w3-propertyname-582.html" target="_blank">
                            <button class="estilo dos">SuperIntendencia de Salud </button>
                        </a>
                        <a href="http://www.saludnoticias.cl/como-funciona-el-sistema-de-salud-en-chile/" target="_blank">
                            <button class="estilo dos">Funcionamiento Sistema Salud en Chile </button>
                        </a>
                    </div>

                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" name="Comunidades">
                        <a href="http://www.exteriores.gob.es/Embajadas/SANTIAGODECHILE/es/VivirEn/Paginas/Establecerse.aspx" target="_blank">
                            <button class="estilo dos">Ministerio Asuntos Exteriores y Cooperación </button>
                        </a>
                        <a href="http://comunidad-org.cl/" target="_blank">
                            <button class="estilo dos">Comunidad Organizaciones Solidarias</button>
                        </a>
                        <a href="http://www.mamchile.cl/" target="_blank">
                            <button class="estilo dos">Movimiento Acción Migrante</button>
                        </a>
                    </div>

                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab" name="Categoria Casas">
                        <a href="https://www.homify.cl/libros_de_ideas/3440015/guia-practica-como-postular-a-la-casa-propia-en-chile" target="_blank">
                            <button class="estilo dos">Guía Postulación Casa</button>
                        </a>
                        <a href="http://www.masdeco.cl/chile-por-zonas/" target="_blank">
                            <button class="estilo dos">Chile Por Zonas</button>
                        </a>
                        <a href="https://inmuebles.mercadolibre.cl/casas/arriendo/" target="_blank">
                            <button class="estilo dos">Mercado Libre Arriendo de Casas</button>
                        </a
                    </div>
                </div>
            </div>
        </div>
    </div>






    <br>
    <footer class="page-footer font-small blue">

        <div class="footer footer-copyright text-center py-3 ">
            <h6> © 2018 Copyright:
                    <a href="../"> Inmigrayuda.cl </a>
                </h6>
        </div>

    </footer>



    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/app' %}"></script>
</body>

</html>