{% load static %}
<!DOCTYPE html>
<html lang="es-CL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static 'img/logo/logoInmiigrantes.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <title>Inmigrayuda</title>
</head>

<body>


    <div class="header">
        <img src="{% static 'img/blur/inmigrantes.jpg' %}" class="blurr" alt="">
        <div class="bg-text">
            <img src="{% static 'img/logo/logoInmiigrantes.png' %}" width="130px" alt="">

            <h1>Inmigrayuda</h1>
            <p>"Al servicio de las personas"</p>
        </div>

    </div>

    <div id="navbar" class="sticky-top">
        <a class="nav-link" id="btnInicio" href="../">Inicio</a>
        <a class="nav-link" id="btnPreguntasfre" href="/preguntasFrecuentes">Preguntas Frecuentes</a>
        <a class="nav-link" id="btnQuienesSomos" href="/quienesSomos">¿Quienes somos?</a>
        <a class="nav-link" id="btnContacto" href="/contacto">Contacto</a>
        <a class="nav-link" id="btnCategorias" href="/categorias">Categorias</a>


        <ul class="navbar-nav my-2 my-lg-0">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a href="{% url "cerrar_session" %}">Cerrar Sesión</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a href="{% url "login" %}">Ingresar</a>
            </li>
            {% endif %}
        </ul>

    </div>
    <br>

    {% if usuario is not None %}
        <div class="border border-primary">
            <div class="container">
                            <form id="formulario" enctype="multipart/form-data" action="{% url 'nuevaNoticia' %}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <br>
                                    <label for="exampleInputEmail1">Titulo de la noticia</label>
                                    <input type="text" class="form-control" name="titulo" id="titulo" placeholder="Ingrese el titulo de la noticia">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Cuerpo de la noticia</label>
                                    <input type="text" class="form-control" name="cuerpo" id="cuerpo" placeholder="Ingrese descripcion completa de la noticia">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Foto</label>
                                    <input type="file" class="form-control" name="imagen" id="imagen" placeholder="Adicional">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Fuente</label>
                                    <input type="text" class="form-control" name="fuente" id="fuente" placeholder="Ingrese fuente de la noticia">
                                </div>
                
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <br>
                                <br>
                            </form>         
                    </div>
                </div>
    {% endif %}


    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                    {% for n in Noticias %}
                        <br>
                        <!-- Noticia 1 -->
                        <h2>    {{n.titulo}}    </h2>

                        <img class=" img-fluid" src="/media/{{p.foto}}" alt="no foto" srcset="">
                        
                        <hr>

                        <p>     {{n.cuerpo}}        </p>

                        <i>
                            <h6 class="fuenteNoticia">Fuente: {{n.fuente}}</h6>
                        </i>

                        <hr class="separador">
                    {% endfor %} 
            </div>
        </div>
    </div>
    


    <br>
    <footer class="page-footer font-small blue">

        <div class="footer footer-copyright text-center py-3 ">
            <h6> © 2018 Copyright:
                <a href="../"> Inmigrayuda.cl </a>
            </h6>
        </div>

    </footer>




    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/app' %}"></script>
</body>

</html>